<div class="text-container  width-1000" >
  <div class="text-container-inner">
    <h2 class="heading type-header text-elevated color-dark-blue">
      a new deepwater frontier
    </h2>
    <div class="description">
      Anchor is helping us safely deliver more energy from greater pressures in the U.S. Gulf of Mexico.
    </div>
    <p class="cta-container">
      <span><img src="assets/arrow_right_icon.svg" alt="#"></span>
      <a href="#" class="cta-link type-cta text-base">
        learn more about anchor
      </a>
    </p>
  </div>
</div>