<!--

<div class="text-container text-center width-1000 background-color-dark-teal color-opacity-50" >
  <div class="text-container-inner">
    <h2 class="heading type-header text-elevated color-dark-blue">
      A new deepwater frontier
    </h2>
    <div class="description centered type-body text-reduced width-600">
      Anchor is helping us safely deliver more energy from greater pressures in the U.S. Gulf of Mexico.
    </div>
    <p class="cta-container">
      <a href="#" class="cta-link type-cta text-base">
        <span class="cta-glyphicon">
          <span class="animate glyphicon glyphicon-2023-arrow-right" aria-hidden="true"></span>
        </span>
        <span class="cta-underline">learn more about anchor</span>
      </a>
    </p>
  </div>
</div>
1
-->