.text-container
  display: flex
  flex-direction: column
  align-self: center
  align-items: center
  justify-content: center
  max-width: 1000px
  max-height: 304px
  background: #0066b2
  .text-container-inner
    padding: 48px 40px 40px 40px