<header>
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">


  <video autoplay muted loop class="background-video" autoplay muted playsinline>
    <source src="/anchor-sail-away-promo-v2.mp4" type="video/mp4">
    Ваш браузер не поддерживает видео.
  </video>
  <div class="overlay"></div>
  <nav>
    <div class="nav-container">
      <ul class="nav-list-left">
        <li><a href="#">who we are</a></li>
        <li><a href="#">what we do</a></li>
        <li><a href="#">sustainability</a></li>
        <li><a href="#">investor</a></li>
      </ul>
      <div class="logo"><img src="/main_logo.png" alt="#"></div>
      <ul class="nav-list-right">
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li class="search"><a href="#"><img src="/assets/magnifier_search_zoom_icon.svg" alt="#"></a></li>
      </ul>
    </div>

  </nav>
  <app-slider></app-slider>
</header>